@import "./tailwind";
@import "./lib/swiper-bundle";
@import "./icon";
@import "./main";

.login-button-m {
  @apply h-[52px] w-full rounded-lg bg-[#1a1a1a] text-center text-[15px] font-bold text-white;
}

.product-card {
  @apply flex flex-col items-center justify-center py-5;
}

.product-icon {
  @apply h-11 w-11;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  @apply block rounded-md px-4 py-3 text-base font-bold leading-4 hover:bg-gray-100 hover:opacity-100;
}

.dropdown-content {
  @apply absolute top-14 hidden rounded-md bg-white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  z-index: 10;
}

.rotate-180 {
  transform: rotate(180deg);
}

.mobileMenu-content-link {
  @apply mt-2 flex items-center p-2 leading-none;
}
