@import "./tailwind";
@import "./lib/swiper-bundle";
@import "./icon";
@import "./main";

.height-60 {
  height: 60px;
}

.w-logo {
  width: 76px;
}

.product-card {
  @apply flex flex-col items-center justify-center py-5;
}

.product-icon {
  @apply h-11 w-11;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  @apply block rounded-md px-4 py-3 text-base font-bold leading-4 hover:bg-gray-100 hover:opacity-100;
}

.dropdown-content {
  @apply absolute top-14 hidden rounded-md bg-white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
}
